<!DOCTYPE html>
<html lagn="en">

<head>
    <meta charset="UTF-8">
    <title>Componrnents | Buil by Eli</title>
    <link rel="stylesheet" href="https://use.typekit.net/gfp8dgk.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>

<body>
    <h1>Web components</h1>
    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
            <img srcset="img/article-section__article--text.png 2x" src="img/article-section__article--text.png"
                alt="body copy" />
        </div>
        <div class="component__code">
            <p>
                Running out of space? Let your existing home grow with you and your family. Our team can work with you
                from start to finish to take your existing home to the next level.
            </p>

        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headings (h1, h2...)</h3>
        <div class="component__img">

            <img srcset="img/hero__heading1.png 2x" src="img/hero__heading1.png " alt="h1" />
            <img srcset="img/recentproject-section__heading2.png 2x" src="img/recentproject-section__heading2.png"
                alt="h2" />
            <img srcset="img/article-section__article--heading4.png 2x" src="img/article-section__article--heading4.png"
                alt="h4" />
        </div>
        <div class="component__code">
            <h1 class="h1">We build and renovate architecturally designed homes in Newcastle and the Hunter Valley</h1>
            <h2>Hamilton</h2>
            <h4>Home extensions</h4>

        </div>
    </article>
</body>

</html>