<!DOCTYPE html>
<html lagn="en">

<head>
    <meta charset="UTF-8">
    <title>Componrnents | Buil by Eli</title>
    <link rel="stylesheet" href="https://use.typekit.net/gfp8dgk.css">

    <link href="../../fonts/fontawesome/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>

<body>
    <h1>Web components</h1>
    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
            <img srcset="img/article-section__article--text.png 2x" src="img/article-section__article--text.png"
                alt="body copy" />
        </div>
        <div class="component__code">
            <p>
                Running out of space? Let your existing home grow with you and your family. Our team can work with you
                from start to finish to take your existing home to the next level.
            </p>

        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headings (h1, h2...)</h3>
        <div class="component__img">

            <img srcset="img/hero__heading1.png 2x" src="img/hero__heading1.png " alt="h1" />
            <img srcset="img/recentproject-section__heading2.png 2x" src="img/recentproject-section__heading2.png"
                alt="h2" />
            <img srcset="img/article-section__article--heading4.png 2x" src="img/article-section__article--heading4.png"
                alt="h4" />
        </div>
        <div class="component__code">
            <h1 class="h1">We build and renovate architecturally designed homes in Newcastle and the Hunter Valley</h1>
            <h2>Hamilton</h2>
            <h4>Home extensions</h4>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Links</h3>
        <div class="component__img">

            <img srcset="img/article-section__article--link.png 2x" src="img/article-section__article--link.png"
                alt="link" />
        </div>
        <div class="component__code">
            <p>
                <a href="#!" class="artlink">Learn more</a>
            </p>
        </div>
    </article>

    <h2>Atoms</h2>

    <article class="component">
        <h3 class="component__name">Action Links</h3>
        <div class="component__img">
            <img srcset="img/hero_downarrow.png 2x" src="img/hero_downarrow.png.png" alt="action arrow" />

            <img srcset="img/recentproject-section__action-link.png 2x" src="img/recentproject-section__action-link.png"
                alt="action-link" />

            <img srcset="img/backtotop-link.png 2x" src="img/backtotop-link.png" alt="action-link" />
        </div>

        <div class="component__code">
            <p>
                <a href="#!" class="fas fa-arrow-down"></a>
            </p>
            <div class="view-project">
                <p>
                    <a href="#!">View project</a>

                    <a href="#!" class="fas fa-long-arrow-alt-right"></a>
                </p>
            </div>
            <div class="backtotop">
                <p>
                    <a href="#!">Back to top</a>

                    <a href="#!" class="fas fa-chevron-up"></a>
                </p>
            </div>

            <!--below it is not my code. I copied and pasted it from the inspect of the webpage. I was trying to see if I could get the same arrow.-->

            <svg width="40px" height="16px" viewBox="0 0 40 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g data-id="*Responsive-States*" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g data-id="Contact-Content-(320px)" transform="translate(-82.000000, -1608.000000)"
                        stroke="#939393">
                        <g data-id="Buttons/-Forward" transform="translate(20.000000, 1601.000000)">
                            <g data-id="Buttons/Small-Arrow/Grey" transform="translate(62.000000, 7.000000)">
                                <polyline data-id="Line-4" fill-rule="nonzero"
                                    transform="translate(32.013362, 8.000000) scale(1, -1) rotate(-135.000000) translate(-32.013362, -8.000000) "
                                    points="27 3 27 13 37.026725 13"></polyline>
                                <path d="M-1.1479198e-13,8 L39,8" data-id="Line-5"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </article>

    <h2>Page Header</h2>
    <article class="component">
        <h3 class="component__name">Header</h3>
        <div class="component__img">
            <img srcset="img/header--version.png 2x" src="img/header--version.png" alt="header" />
        </div>

        <div class="component__code-top">

            <!--check this-->

            <button class="button-bun">
                <div></div>
                <div></div>
            </button>

            <ul class="nav-list">
                <li><button class="button-list"><a href="#!">Services</a></button></li>
                <li><button class="button-list"><a href="#!">Projects</a></button></li>
                <li><button class="button-list"><a href="#!">About</a></button></li>
                <li><button class="button-list"><a href="#!">Contact</a></button></li>
            </ul>

            <p class="logo"><a href="#!">Built by Eli</a></p>



            <p>
                Ph:0404 730 998
            </p>
            <button class="quote-button">
                <a href="#!">get a quote</a>
            </button>

        </div>
    </article>
</body>

</html>